/**
 * Styling for the default SilverStripe Forum. To override these styles include
 * your own CSS file in your PageController.php or Page.ss
 */

.forum__topics {
  width: 100%;
}

.forum__container table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid var(--color-grey);
}

.forum__category {

}


.forum__admin-features {
  border: 1px dashed #e0ded9;
  padding: 12px;
  margin-bottom: 12px;
  font-family: monospace;
}


.forum__admin-features-title {
  font-size: 14px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 12px;
  color: var(--color-dark);
}


.forum__subscribe-link--hidden {
  display: none;
}
